@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CA_Project.Models;
@{ User acc = (User)ViewData["account"];
    string name = acc.Username;
    string email = acc.Email;
}
<div class="text-left">
    <h2 class="display-4" style="color: #2E937A;font-weight: bold">My Account</h2><br />
</div>
<form>
    <table>
        <tr>
            <td class="product-name">User Name:</td>
            <td colspan="3" class="product-name">@name</td>
        </tr>
        <tr>
            <td class="product-name">Email:</td>
            <td colspan="3" class="product-name">@email</td>
        </tr>
        <tr>
            <td colspan="3" align="right"><br />
                <button class="button" id="submitbtn" type="submit" formaction="/Account/ChangePW">Change Password </button>
            </td>
        </tr>
    </table>
</form>

@section Scripts{ 
    <script src="~/js/ProductHome/app.js"></script>
}