@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section CSS{
    <link href="~/css/ProductHome/style.css" rel="stylesheet" />
}



@{
    List<Product> products = (List<Product>)ViewData["products"];
    Cart cart1 = (Cart)ViewData["cart"];
}

@section Scripts{
    <script src="/js/ProductHome/app.js"></script>
}

<div style="display: inline-block; margin: 10px auto">
    <div class="search">
        <form action="/Search/" method="POST">
            <input class="search-input" name="searchStr" placeholder="enter search here" type="text" />
        </form>
    </div>


    <div class="productlist" style="display:inline-block; width:fit-content; margin: 10px auto">
        <!--can use the foreach loop here-->
        @foreach (Product p in products)
        {
            <div class="a-product">
                <div>
                    <img class="product-img" src="\Images\charts.png" alt="Alternate Text" />
                </div>
                <div>
                    <p class="product-name">@p.ProductName</p>
                </div>
                <div>
                    <p class="product-desc">@p.Desc</p>
                </div>
                <div>
                    <p class="product-price">$@p.Price</p>
                </div>
                <div>
                    <button class="button add-cart-btn" id="@p.Id">ADD TO CART</button>
                </div>
            </div>
        }

    </div>
</div>

