<h1>Login is unsuccessful</h1>
<button><a asp-action="index">Login Again</a></button>

@section Scripts{
    <script>
        const logout = document.getElementById("logout");
        const cartImg = document.getElementById("shopping-cart-img");
        const displayname = document.getElementById("displayname");
        const account = document.getElementById("account");
        const purchases = document.getElementById("purchases");

        logout.style.display = 'none';
        cartImg.style.display = 'none';
        displayname.style.display = 'none';
        account.style.display = "none";
        purchases.style.display = 'none';
    </script>
}